@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

body {
  background-color: #585858;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}
.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  gap: 10px;
  flex-direction: column;

  padding: 25px;
  border-radius: 25px;
  background-color: #000;
}

form,
.buttons {
  width: 250px;
}

input {
  width: 92%;
  font-size: 36px;
  font-weight: 700;
  background: none;
  border: none;
  color: #fff;
  text-align: right;
  padding: 8px;

  outline: none;
}

.buttons {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
}

button {
  padding: 10px;
  color: #585858;
  background: none;
  border: none;
  font-size: 24px;

  cursor: pointer;
}

.equals {
  grid-row: span 2;
  background: #ff513c;
  color: #fff;
}

.number {
  color: #fff;
}
